*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem;
  font-family: 'Quicksand', sans-serif; }

.btn, .btn:link, .btn:visited {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .btn:hover::after {
    transform: scale(1.4, 1.6);
    opacity: 0; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: inherit;
    color: inherit; }

.btn::after {
  content: '';
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10rem;
  z-index: -1;
  transition: all 0.4s; }

@keyframes moveInBottom {
  0% {
    transform: translateY(3rem);
    opacity: 0; }
  100% {
    transform: translate(0); } }

.btn--animated {
  animation: moveInBottom 0.5s ease-in 0.75s backwards; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(255, 89, 0, 0.8), rgba(199, 70, 0, 0.8)), url(../img/header-bg.jpg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo {
    position: absolute;
    top: 2rem;
    left: 2rem; }
    .header__logo img {
      height: 5rem; }
  .header__text-box {
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__text {
    color: #fff;
    margin-bottom: 8rem; }
    .header__text--main {
      font-size: 6rem;
      letter-spacing: 3.9rem;
      display: block;
      margin-bottom: 2rem;
      animation: moveInLeft 1s ease-out backwards; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 1;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }
    .header__text--sub {
      font-size: 2rem;
      letter-spacing: 0.5rem;
      display: block;
      animation: moveInRight 1s ease-out backwards; }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: 1;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }
