.u-center-text {
  text-align: center !important;
}

.u-margin-big-bottom {
  margin-bottom: 8rem !important;
}
.u-margin-medium-bottom {
  margin-bottom: 4rem !important;
}
.u-margin-small-bottom {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}
